<section class="home">
    <div class="hero-content">
        <h1>On-line library</h1>
        <div class="media">
            <img src="/assets/bookshelf.jpg " alt="bookshelf" />
        </div>

    </div>

    <div class="container">
        <h2>Look at our latest books...</h2>
        <div class="lastest-books">

            <div class="info">
                <div class="media">
                    <img src="https://cdn.penguin.co.uk/dam-assets/books/9781408481967/9781408481967-jacket-large.jpg">
                </div>
                <div class="content">
                    <h3 class="title">The Client</h3>
                   <p class="author">Author: John Grisham</p>
                    <p class="genre">Genre: Crime</p>
                    <div class="more-info">
                        <a href="#">More info</a>
                    </div>
                </div>
            </div>

            <div class="info">
                <div class="media">
                    <img src="https://cdn.penguin.co.uk/dam-assets/books/9781408481967/9781408481967-jacket-large.jpg">
                </div>
                <div class="content">
                    <h3 class="title">The Client</h3>
                   <p class="author">Author: John Grisham</p>
                    <p class="genre">Genre: Crime</p>
                    <div class="more-info">
                        <a href="#">More info</a>
                    </div>
                </div>
            </div>

            <div class="info">
                <div class="media">
                    <img src="https://cdn.penguin.co.uk/dam-assets/books/9781408481967/9781408481967-jacket-large.jpg">
                </div>
                <div class="content">
                    <h3 class="title">The Client</h3>
                   <p class="author">Author: John Grisham</p>
                    <p class="genre">Genre: Crime</p>
                    <div class="more-info">
                        <a href="#">More info</a>
                    </div>
                </div>
            </div>
        </div>

            <!--If there are still no course
    <div class="no-books">
        <h2>No books added yet.</h2>
    </div>

</section> -->