<section class="home">
    <div class="hero-content">
        <h1>On-line library</h1>
        <div class="media">
            <img src="/assets/bookshelf.jpg " alt="bookshelf" />
        </div>
    </div>

    <div class="container">
        <h2>Look at our latest books...</h2>
        <div class="lastest-books">
            <div *ngFor="let book of booksList">
                <div class="info">

                    <div class="media">
                        <img src="{{book.imageUrl}}">
                    </div>
                    <div class="content">
                        <h3 class="title">{{book.title | uppercase }}</h3>
                        <p class="author"> {{book.author | uppercase}}</p>
                        <p class="genre">Genre: {{book.genre}}</p>
                        <div class="more-info">
                            <a [routerLink]="['/books', book._id]">More info</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </section>