section .home {
    display: flex;
   }

.hero-content {
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
}

.hero-content .media {
    max-width: 55em;
    height: auto;
}

.hero-content h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    font-style: italic;
    font-weight: bold;
    padding-top: 3em;
    width: 10ch;
    text-align: right;
}

.home h2 {
    margin-top: 1em;
    font-size: 1.5em;
    text-transform: uppercase;
      text-align: center;
}

.home .container {
    background-color:#f5f0f6;
    padding:0.5em 3em 2em;
   
    border: 1px solid black;
    border-radius: 0.8em;
}

.home .lastest-books {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1em;
    margin-top: 1.5em;
}


.home .lastest-books .info {
    border: 2px solid black;
    border-radius: 1em;
    padding: 1em;
    flex: 1 1 25%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    background-color: whitesmoke;

}

.home .info .media {
    padding: 0.5em;
    width: 8em;
    height: auto;
    overflow: hidden;
}

.home .info .content h3,
.home .info .content p {
    padding-bottom: 0.7em;
}

.home .info .content a {
    margin-top: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.1em 0.8em;
    text-decoration:none;
    font-weight: bold ;
    color:white;
    background-color: rgb(77, 77, 136);
}

.home .info .content a:hover {
    color:rgb(77, 77, 136);
    background-color: white;
}

.more-info {
    margin-top: 1em;
}