<div class="posts">

    <h3>Recent post:</h3>
    <div class="post-list" *ngFor="let post of currentBookComments">
        <p class="userId"><span>{{post.username}}</span> posted on {{post._createdOn | date}}</p>
        <p><span><i class="fa-regular fa-comment"></i></span>{{post?.commentText| titlecase}}</p>
    </div>
    <div class="add-comment" *ngIf="isLoggedIn">
        <p>What do you think?</p>
        <div class="postText">
            <form #form="ngForm" (ngSubmit)="commentAdd(form)">
                <textarea name="text" id="text" cols="50" rows="5" ngModel required #inputText="ngModel">
                </textarea>
                <ng-container *ngIf="inputText.touched">
                    <p class="error" *ngIf="inputText.errors?.['required']">Text is required!</p>
                </ng-container>

                <button class="btn" type="submit" [disabled]="form.invalid"
                    [style]="{backgroundColor: form.invalid ? 'lightgrey' : 'blanchedalmond'}" id="btn">Post</button>
            </form>
        </div>
    </div>
</div>