<section class="registerPage">
    <div class="container">
        <h2 class="heading">New here?</h2>
        <h2 class="heading">Please register...</h2>
        <div class="register">

            <div class="register-form">
                <h1>Register</h1>
                <form [formGroup]="form" (ngSubmit)="register()">

                    <label>Username</label>
                    <input type="text" placeholder="Username.." name="username" formControlName="username">

                    <ng-container *ngIf="form.get('username')?.touched">
                        <p class="error" *ngIf="form.get('username')?.errors?.['required']">
                            Username is required!
                        </p>

                        <p class="error" *ngIf="form.get('username')?.errors?.['minlength']">
                            Username should be at least 4 characters!
                        </p>
                    </ng-container>


                    <label>Email</label>
                    <input type="text" placeholder="Email.." name="email" formControlName="email">

                    <ng-container *ngIf="form.get('email')?.touched">
                        <p class="error" *ngIf="form.get('email')?.errors?.['required']">Email is required!</p>
                        <p class="error" *ngIf="form.get('email')?.errors?.['emailValidator']">Email is not valid!</p>
                    </ng-container>

                    <ng-container formGroupName="passGroup">

                        <label>Password</label>
                        <input type="password" placeholder="Password.." name="password" formControlName="password">

                         <ng-container *ngIf="form.get('passGroup')?.get('password')?.touched">
                                <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['required']">Password is
                                    required!</p>
                                <p class="error" *ngIf="form.get('passGroup')?.get('password')?.errors?.['minlength']">Password must
                                    be at least 6 characters!</p>
                            </ng-container>

                        <label>Confirm Password</label>
                        <input type="password" placeholder="Confirm Password.." name="rePassword"
                            formControlName="rePassword">
                        
                                <ng-container *ngIf="form.get('passGroup')?.get('rePassword')?.touched">
                                    <p class="error" *ngIf="form.get('passGroup')?.get('rePassword')?.errors?.['required']">Repassword is
                                        required!</p>
                                    <p class="error"  *ngIf="form.get('passGroup')?.errors?.['passwordsMatch']">
                                     Repeat Password does not match password!
                                    </p>
                                </ng-container>
                    </ng-container>

                    <button [disabled]="form.invalid"
                        [style]="{backgroundColor: form.invalid ? 'grey' : 'blue'}">Register</button>
                </form>
                <p>Already have an account? <a routerLink="/auth/login">Login here</a></p>
            </div>
            <div class="media">
                <img src="/assets/cover.jpg">
            </div>
        </div>
    </div>
</section>