<section class="registerPage">
    <div class="container">
        <h2 class="heading">New here?</h2>
           <h2 class="heading">Please register...</h2>
        <div class="register">
   
            <div class="register-form">
                <h1>Register</h1>
                <form [formGroup]="form" (ngSubmit)="register()">

                    <label>Username</label>
                    <input type="text" placeholder="Username.." name="username"
                    formControlName="username">

                    <label>Email</label>
                    <input type="text" placeholder="Email.." name="email"
                    formControlName="email">
                    

                    <ng-container formGroupName="passGroup">

                        <label>Password</label>
                        <input type="password" placeholder="Password.." name="password"
                        formControlName="password">

                        <label>Confirm Password</label>
                        <input type="password" placeholder="Confirm Password.." name="rePassword"
                        formControlName="rePassword">
                    </ng-container>
                    
                    <input type="submit" value="Submit">
                </form>
                <p>Already have an account? <a href="#">Login here</a></p>
            </div>
            <div class="media">
                <img src="/assets/cover.jpg">
            </div>
        </div>
    </div>
</section>
