<section class="loginPage">
    <div class="container">
        <h2 class="heading">Welcome back!</h2>
        <div class="login">
            <div class="media">
                <img src="/assets/cover.jpg">
            </div>
            <div class="login-form" >
                <h1>Login</h1>
                <form #form=ngForm (ngSubmit)="login(form)">
                    <label>Email</label>
                    <input type="text" placeholder="Email.." name="email" id="email"
                    ngModel required 
                    #inputEmail="ngModel">

                    <label>Password</label>
                    <input type="password" placeholder="Password.." name="password" id="password"
                    ngModel required #inputPassword="ngModel" >

                    <input type="submit" value="Login">
                </form>
                <p>Not have an account? <a routerLink="/auth/register">Register here</a></p>
            </div>
        </div>

    </div>
</section>
