<section class="loginPage">
    <div class="container">
        <h2 class="heading">Welcome back!</h2>
        <div class="login">
            <div class="media">
                <img src="/assets/cover.jpg">
            </div>
            <div class="login-form">
                <h1>Login</h1>
                <form #form=ngForm (ngSubmit)="login(form)">
                    <label>Email</label>
                    <input type="text" placeholder="Email.." name="email" id="email" ngModel required
                        #inputEmail="ngModel" [appEmail]="[]">

                    <ng-container *ngIf="inputEmail.touched">
                        <p class="error" *ngIf="inputEmail.errors?.['required']">Email is required!</p>
                        <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">Email is not valid!</p>
                    </ng-container>

                    <label>Password</label>
                    <input type="password" placeholder="Password.." name="password" id="password" ngModel required
                        #inputPassword="ngModel" minlength="6">

                    <ng-container *ngIf="inputPassword.touched">
                        <p class="error" *ngIf="inputPassword.errors?.['required']">Password is required!</p>
                        <p class="error" *ngIf="inputPassword.errors?.['minlength']">Password must be at least {{inputPassword.errors?.['minlength'] ['requiredLength']}} characters!</p>
                    </ng-container>

                    <button [disabled]="form.invalid"
                        [style]="{backgroundColor: form.invalid ? 'lightgrey' : 'lightsteelblue'}">Login</button>
                </form>
                <p>Not have an account? <a routerLink="/auth/register">Register here</a></p>
            </div>
        </div>

    </div>
</section>