section .login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

section .login .media {
    flex: 0 0 45%;
}

.loginPage .heading {
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
}

section .login .login-form {
    flex: 0 0 30%;
}

.login .login-form {
    color: black;
    margin: auto;
    margin-top: 4em;
    background-color: #ffeae7c6;
    border: 1px solid black;
    border-radius: 1.2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.login .login-form h1 {
    text-align: center;
    padding-top: 1em;
}

.login .login-form h4 {
    margin-top: 0.8em;
    text-align: center;
}

.login .login-form form {
    width: 22em;
    margin-left: 1.5em;
}

.login .login-form form label {
    display: flex;
    margin-top: 1.2em;
    margin-bottom: 1em;

}

.login .login-form form input {
    width: 22em;
    height: 1.8em;
    padding-left: 0.5em;
    border: none;
    border: 1px solid gray;
    border-radius: 0.5em;
    outline: none;
}

.login .login-form input[type="submit"] {
    width: 22em;
    height: 2.2em;
    margin-top: 2.5em;
    border: none;
    background-color: black;
    color: white;
}

.login .login-form p {
    text-align: center;
    padding: 1.5em 0;
}

.login .login-form p>a {
    color: black;
}