<section class="loginPage">
    <div class="container">
        <h2 class="heading">Welcome back!</h2>
        <div class="login">
            <div class="media">
                <img src="/assets/cover.jpg">
            </div>
            <div class="login-form">
                <h1>Login</h1>
                <form action="#">
                    <label>Email</label>
                    <input type="text" placeholder="Email.." name="">
                    <label>Password</label>
                    <input type="password" placeholder="Password.." name="">
                    <input type="submit" value="Submit">
                </form>
                <p>Not have an account? <a href="#">Register here</a></p>
            </div>
        </div>

    </div>
</section>
