<section class="catalogPage">
    <div class="container">
        <h2>All Books</h2>
        <div class="catalog">

            <app-loader *ngIf="!booksList"></app-loader>

            <article *ngFor="let book of booksList" class="catalog-card">
                <div class="media">
                    <img src="{{book.imageUrl}}">
                </div>

                <div class="content">
                    <h3>{{book.title}}</h3>
                    <h4>Autor: {{book.author}}</h4>
                    <p>Genre: {{book.genre}}</p>
                    <p>Pages: {{book.pages}}</p>
                </div>

                <div class="button">
                    <a [routerLink]="book._id" class="btn-details">Details</a>
                </div>

            </article>

        </div>
    </div>
</section>