.catalogPage {

    background-color:#f5f0f6;
}

.catalogPage h2 {
    font-size: 1.8em;
    text-align: center;
    padding: 1em 0;
    
}

.catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 4em;
    margin-bottom: 1em;
}

.catalog .catalog-card {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 1.5em;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.catalog .catalog-card .media img {
    height: 14em;
    width: auto;
}

.catalog .catalog-card .content {
    padding-bottom: 0.5em;
}

.catalog .catalog-card .content p {
    font: 16px/1.5 Karla;
    padding-bottom: 0.5em;
}

.catalog .catalog-card .content h3,
.catalog .catalog-card .content h4 {
    padding-top: 0.5em;
    text-transform: uppercase;

}

.catalog .catalog-card .content h4 {
    font-style: italic;
    padding-bottom: 0.5em;
}

.catalog .catalog-card .button a {
    align-self: center;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.1em 0.8em;
    text-decoration: none;
    font-weight: bold;
    color:white;
    background-color: rgb(77, 77, 136);
}

.catalog .catalog-card .button a:hover{
    color:rgb(77, 77, 136);
    background-color: white;
}
