<section class="catalogPage">
    <div class="container">
        <h2>All Books</h2>
        <div class="catalog">

            <article class="catalog-card">
                <div class="media">
                    <img
                        src="https://th.bing.com/th/id/OIP.QcMNa8aQVF1F4A1zEy2f4wHaLf?pid=ImgDet&w=118.26544021024968&h=180&c=7&dpr=1.3">
                </div>

                <div class="content">
                    <h3>The Firm</h3>
                    <h4>Autor: John Grisham</h4>
                    <p>Genre: Crime</p>
                    <p>Pages: 250</p>
                </div>

                <div class="button">
                    <a href="#" class="btn-details">Details</a>
                </div>

            </article>

            <article class="catalog-card">
                <div class="media">
                    <img
                        src="https://th.bing.com/th/id/R.41c30d6bc690545d45e00d73132d9fe3?rik=jFBCU%2bl49PJDXQ&pid=ImgRaw&r=0">
                </div>

                <div class="content">
                    <h3>The Firm</h3>
                    <h4>Autor: John Grisham</h4>
                    <p>Genre: Crime</p>
                    <p>Pages: 250</p>
                </div>

                <div class="button">
                    <a href="#" class="btn-details">Details</a>
                </div>

            </article>

            <article class="catalog-card">
                <div class="media">
                    <img
                        src="https://th.bing.com/th/id/OIP.bhO-iA1Pd6axQS-Wuae2IgHaLW?pid=ImgDet&w=117.34028683181226&h=180&c=7&dpr=1.3">
                </div>

                <div class="content">
                    <h3>The Firm</h3>
                    <h4>Autor: John Grisham</h4>
                    <p>Genre: Crime</p>
                    <p>Pages: 250</p>
                </div>

                <div class="button">
                    <a href="#" class="btn-details">Details</a>
                </div>

            </article>

            <article class="catalog-card">
                <div class="media">
                    <img
                        src="https://th.bing.com/th/id/OIP.QcMNa8aQVF1F4A1zEy2f4wHaLf?pid=ImgDet&w=118.26544021024968&h=180&c=7&dpr=1.3">
                </div>

                <div class="content">
                    <h3>The Firm</h3>
                    <h4>Autor: John Grisham</h4>
                    <p>Genre: Crime</p>
                    <p>Pages: 250</p>
                </div>

                <div class="button">
                    <a href="#" class="btn-details">Details</a>
                </div>

            </article>

            <article class="catalog-card">
                <div class="media">
                    <img
                        src="https://th.bing.com/th/id/R.41c30d6bc690545d45e00d73132d9fe3?rik=jFBCU%2bl49PJDXQ&pid=ImgRaw&r=0">
                </div>

                <div class="content">
                    <h3>The Firm</h3>
                    <h4>Autor: John Grisham</h4>
                    <p>Genre: Crime</p>
                    <p>Pages: 250</p>
                </div>

                <div class="button">
                    <a href="#" class="btn-details">Details</a>
                </div>

            </article>

            <article class="catalog-card">
                <div class="media">
                    <img
                        src="https://th.bing.com/th/id/OIP.bhO-iA1Pd6axQS-Wuae2IgHaLW?pid=ImgDet&w=117.34028683181226&h=180&c=7&dpr=1.3">
                </div>

                <div class="content">
                    <h3>The Firm</h3>
                    <h4>Autor: John Grisham</h4>
                    <p>Genre: Crime</p>
                    <p>Pages: 250</p>
                </div>

                <div class="button">
                    <a href="#" class="btn-details">Details</a>
                </div>

            </article>

        </div>
    </div>
</section>

