<section class="edit-book">
    <div class="container">
          <div class="media">
            <img src="/assets/cover.jpg">
        </div>
        
        <div class="edit-info">
            <h2>Edit the book</h2>
            <form [formGroup]="form"  (ngSubmit)="editBookHandler()">
                <label>Title:</label>
                <input name="title" type="text" 
                id="title" 
                formControlName="title">

                <label>Author:</label>
                <input name="author" type="text" 
                id="author" formControlName="author">

                <label>Genre:</label>
                <input name="genre" type="text"
                 id="genre" formControlName="genre">
                
                <label>Pages:</label>
                <input name="pages" type="number" 
                id="pages" formControlName="pages">

                <label>Image:</label>
                <input name="imageUrl" type="text"
                 id="image" placeholder="http://..."
                 formControlName="imageUrl">

                <label>More info:</label>
                <textarea id="content" name="moreInfo"
                formControlName="moreInfo"
                ></textarea>

                <button type="submit" id="btn" value="Edit">Edit</button>
            </form>
        </div>

      
    </div>
</section>
