<section class="edit-book">
    <div class="container">
          <div class="media">
            <img src="/assets/cover.jpg">
        </div>
        
        <div class="edit-info">
            <h2>Edit the book</h2>
            <form [formGroup]="form"  (ngSubmit)="editBookHandler()">
                <label>Title:</label>
                <input name="title" type="text" 
                id="title" 
                formControlName="title">
                <p class="error" *ngIf="form.get('title')?.errors?.['required']">Title is required!</p>

                <label>Author:</label>
                <input name="author" type="text" 
                id="author" formControlName="author">
                <p class="error" *ngIf="form.get('author')?.errors?.['required']">Author is required!</p>

                <label>Genre:</label>
                <input name="genre" type="text"
                 id="genre" formControlName="genre">
                 <p class="error" *ngIf="form.get('genre')?.errors?.['required']">Genre is required!</p>
                
                <label>Pages:</label>
                <input name="pages" type="number" 
                id="pages" formControlName="pages">
                <p class="error" *ngIf="form.get('pages')?.errors?.['required']">Pages is required!</p>

                <label>Image:</label>
                <input name="imageUrl" type="text"
                 id="image" placeholder="http://..."
                 formControlName="imageUrl">
                 <p class="error" *ngIf="form.get('imageUrl')?.errors?.['required']">Image is required!</p>

                <label>More info:</label>
                <textarea id="content" name="moreInfo"
                formControlName="moreInfo"
                ></textarea>
                <p class="error" *ngIf="form.get('moreInfo')?.errors?.['required']">Description is required!</p>

                <button type="submit" id="btn"  [disabled]="form.invalid"
                [style]="{backgroundColor: form.invalid ? 'grey' : 'blue'}">Edit</button>
            </form>
        </div>

      
    </div>
</section>
