<section class="edit">
    <div class="edit-info">
        <h2>Edit Course</h2>
        <form>
            <label>Title:</label>
            <input name="" type="text" id="title" value="QA">

            <label>Author:</label>
            <input name="" type="text" id="author" value="j.f.keen">

            <label>Genre:</label>
            <input name="" type="text" id="genre" value="QA">

            <label>Image:</label>
            <input name="" type="text" id="image" placeholder="http://..." value="....">

            <label>Description:</label>
            <textarea id="content" name="">Learn how to ......</textarea>

            <label>Pages:</label>
            <input name="" type="number" id="pages" value="250">

            <input type="submit" id="btn" value="Edit">
        </form>
    </div>
</section>
