header {
    background-color: #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3.5em;
}

header .media-logo {
    width: 4em;
    height: auto;
    overflow: hidden;

}

header .media-logo a {
    display: block;

}

header nav ul {
    display: flex;
}

header nav li {
    list-style: none outside;
    padding: 0 0.5em;
}

header nav li a {
    text-decoration: none;
    color: rgb(10, 33, 102);
    text-transform: uppercase;
    text-decoration: solid;
    font-weight: bold;
}

header nav li a:hover{
    color: white;
}

header nav li:last-child {
    text-transform: uppercase;
    color: whitesmoke;
    padding: 0 0.5em;
    cursor: pointer;
}
