header {
    background-color: #aaa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3.5em;
}

header .media-logo {
    width: 4em;
    height: auto;
    overflow: hidden;

}

header .media-logo a {
    display: block;

}

header nav ul {
    display: flex;
}

header nav li {
    list-style: none outside;
    padding: 0 0.5em;
}

header nav li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
