.details .container {

    display: flex;
    gap: 2em
}

.details .content {
    flex: 1 1 60%;

}

.details .posts {
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;

}

.mainInfo {
    display: flex;
    gap: 3em;
    padding-top: 2em;
}

.media-details {
    padding: 1em;
    border: 1px solid black;
    border-radius: 0.2em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.media-details img {
    height: 14em;
    width: auto;
}

.details-info h2,
.details-info h3,
.details-info h4 {
    padding-top: 1em;
}

.details-description {
    padding: 2em 2em 1em 0;
}

.details-description .buttons {
    display: flex;
    padding-top: 2em;
}

 .details-description .buttons a,
 .details-description .buttons button{
    margin: 0 2em;
    border: 1px solid black;
    border-radius: 0.3em;
    text-decoration: none;
    color:white;
    background-color: rgb(77, 77, 136);
    padding: 0.3em 1em;
    font-weight: bold;
}

.details-description .buttons a:hover,
.details-description .buttons button:hover {
    color:rgb(77, 77, 136);
    background-color: lightgray;
}

.details-description .buttons button i {
padding-right: 1em;
}

.details-description .buttons p {
    margin: 0 2em;
    border: 1px solid black;
    border-radius: 0.3em;
    text-decoration: none;
    color:rgb(77, 77, 136);
    background-color: lightgray;
    padding: 0.3em 0.8em;
    font-weight: bold;
    
}

