<section class="details">
    <div class="container">
        <div class="content">
            <div class="mainInfo">
                <div class="media-details">
                    <img src="{{book?.imageUrl}}">
                </div>
                <div class="details-info">
                    <h2>Title: {{book?.title}}</h2>
                    <h3>Author:{{book?.author}}</h3>
                    <h3>Genre:{{book?.genre}}</h3>
                    <h3>Pages: {{book?.pages}}</h3>
                    <h3>Added by: {{book?.author}}</h3>
                    <h4>Downloaded by: {{this.allSubscribers.length}}</h4>
                </div>
            </div>
            <div class="details-description">
                <p>{{book!.moreInfo | slice: 1000}}</p>
                <div class="buttons">
                    <ng-container *ngIf="isLoggedIn">
                        <ng-container *ngIf="isOwner">
                            <a routerLink="/books/{{book?._id}}/edit-book">Edit</a>
                            <a routerLink="/books/{{book?._id}}/delete-book">Delete</a>
                        </ng-container>
                        <ng-container *ngIf="!isOwner">
                            <p *ngIf="hasSubscribed" class="downloaded">You've already downloaded this book!</p>
                            <button *ngIf="!hasSubscribed" (click)="addSubscribers()"><span><i
                                        class="fa-solid fa-download"></i></span>Download</button>
                        </ng-container>
                    </ng-container>
                    <a routerLink="/books">Back</a>
                </div>
            </div>
        </div>

        <div class="posts">
            <app-posts/>
        </div>

    </div>
</section>