<div class="content">
    <div class="modal">
        <h2>Are you sure you want to delete this book?</h2>

        <div class="mainInfo">
            <div class="media-details">
                <img src="{{book?.imageUrl}}">
            </div>
            <div class="details-info">
                <h2>Title: {{book?.title}}</h2>
                <h3>Author:{{book?.author}}</h3>
                <h3>Genre:{{book?.genre}}</h3>
                <div class="buttons">
                    <button (click)="deleteHandler()">Delete</button>
                    <a routerLink="/books/{{book?._id}}">Cancel</a>
                </div>
            </div>
        </div>


    </div>
</div>