<div class="content">
    <div class="modal">
        <h2>Are you sure you want to delete this book?</h2>

        <div class="mainInfo">
            <div class="media-details">
                <img src="{{(book$ | async)?.imageUrl}}">
            </div>
            <div class="details-info">
                <h2>{{(book$ | async)?.title | uppercase}}</h2>
                <h3>Author: {{(book$ | async)?.author}}</h3>
                <h3>Genre: {{(book$ | async)?.genre}}</h3>
                <div class="buttons">
                    <button (click)="deleteHandler()">Delete</button>
                    <a routerLink="/books/{{(book$ | async)?._id}}">Back</a>
                </div>
            </div>
        </div>

    </div>
</div>