footer {
  
    padding:0.3em 0;
    background-color: #ccc;
    position: fixed;
    bottom: 0;
    width: 98%;
    bottom: 0;

}

footer p {
    text-align: center;
    text-decoration: underline;
    font-weight:300;
    color: rgb(10, 33, 102);
}