<section class="profile">
    <div class="container">

        <div class="user">
            <h2>Profile Info</h2>
            <div class="media">
                <img src="../../../assets/profile.png" />
            </div>
            <h3>Username:</h3>
            <h4>Email: </h4>
            <p>Added books:</p>
            <p>Downloaded books: ff</p>
        </div>



        <div class="added">
            <h2> My books</h2>
            <div class="books">
                <div class="info">
                    <div class="media">
                        <img
                            src="https://cdn.penguin.co.uk/dam-assets/books/9781408481806/9781408481806-jacket-large.jpg">
                    </div>
                    <div class="content">
                        <h3 class="title">4.50 From Paddington</h3>
                        <h4 class="author">Agatha Christie </h4>
                        <p class="genre">Genre:Crime</p>
                        <div class="more-info">
                            <a>More info</a>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <div class="media">
                        <img
                            src="https://cdn.penguin.co.uk/dam-assets/books/9781408481806/9781408481806-jacket-large.jpg">
                    </div>
                    <div class="content">
                        <h3 class="title">4.50 From Paddington</h3>
                        <h4 class="author">Agatha Christie </h4>
                        <p class="genre">Genre:Crime</p>
                        <div class="more-info">
                            <a>More info</a>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <div class="media">
                        <img
                            src="https://cdn.penguin.co.uk/dam-assets/books/9781408481806/9781408481806-jacket-large.jpg">
                    </div>
                    <div class="content">
                        <h3 class="title">4.50 From Paddington</h3>
                        <h4 class="author">Agatha Christie </h4>
                        <p class="genre">Genre:Crime</p>
                        <div class="more-info">
                            <a>More info</a>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <div class="media">
                        <img
                            src="https://cdn.penguin.co.uk/dam-assets/books/9781408481806/9781408481806-jacket-large.jpg">
                    </div>
                    <div class="content">
                        <h3 class="title">4.50 From Paddington</h3>
                        <h4 class="author">Agatha Christie </h4>
                        <p class="genre">Genre:Crime</p>
                        <div class="more-info">
                            <a>More info</a>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <div class="media">
                        <img
                            src="https://cdn.penguin.co.uk/dam-assets/books/9781408481806/9781408481806-jacket-large.jpg">
                    </div>
                    <div class="content">
                        <h3 class="title">4.50 From Paddington</h3>
                        <h4 class="author">Agatha Christie </h4>
                        <p class="genre">Genre:Crime</p>
                        <div class="more-info">
                            <a>More info</a>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <div class="media">
                        <img
                            src="https://cdn.penguin.co.uk/dam-assets/books/9781408481806/9781408481806-jacket-large.jpg">
                    </div>
                    <div class="content">
                        <h3 class="title">4.50 From Paddington</h3>
                        <h4 class="author">Agatha Christie </h4>
                        <p class="genre">Genre:Crime</p>
                        <div class="more-info">
                            <a>More info</a>
                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

</section>