<section class="profile">
    <div class="container">

        <div class="user">
            <h2>Profile Info</h2>
            <div class="media">
                <img src="../../../assets/profile.png" />
            </div>
            <h3>Username:</h3>
            <p> {{user?.username}}</p>
            <h4>Email: </h4>
            <p> {{user?.email}}</p>
            <p>Downloaded books: {{mySubBooks.length}}</p>
        </div>

        <div class="added">
            <h2> My added books</h2>
            <div class="books" >
                <div class="info" *ngFor="let book of myBooks$|async">
                    <div class="media">
                        <img
                            src="{{book.imageUrl}}">
                    </div>
                    <div class="content">
                        <h3 class="title">{{book.title}}</h3>
                        <h4 class="author">{{book.author}}</h4>
                        <p class="genre">Genre:{{book.genre}}</p>
                        <div class="more-info">
                            <a [routerLink]="['/books', book._id]">More info</a>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</section>