.profile .container {
    display: flex;
    flex-direction: row;
    gap: 5em;
    justify-content: space-between;
  }

.profile .user {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    padding: 1em 1em;
}

.profile .user p {
    font-weight: bold;
}

.profile .added {
    flex: 0 0 70%;
    border: 1px solid black;
    margin-top: 2em;
    border-radius: 0.5em;

}

.profile .added .books {
    display: flex;
    flex-direction: row;
justify-content:space-around;
    gap: 1em;
    border-radius: 0.5em;
    padding-top: 1em;
}

.profile .user .media {
    max-width: 5em;
    height: auto;
}

.profile h2 {
    margin-top: 1em;
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 0.5em;
}

.profile .user h3,
.profile .user h4,
.profile .user p {
    padding-bottom: 1em;
}

.profile .info .media {
    padding: 0.5em;
    width: 8em;
    height: auto;
    overflow: hidden;
}

.profile .added {
    background-color:#f5f0f6;
}

.profile .added .books {
    display: flex;
    flex-wrap: wrap;
}

.profile .added .books .info {
    border: 2px solid black;
    border-radius: 1em;
    background-color: azure;
    padding: 1em;
    flex: 0 1 25%;
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin: 1em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.profile .info .media {
    padding: 0.5em;
    width: 8em;
    height: auto;
    overflow: hidden;

}

.profile .info .content h3,
.profile .info .content h4,
.profile .info .content p {
    padding-bottom: 1em;
}

.profile .info .content a {
    margin-top: 1em;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.3em 0.5em;
    text-decoration: none;
    color:white;
    background-color: rgb(77, 77, 136);
    font-weight: bold;
}

.profile .info .content a:hover {
    color:rgb(77, 77, 136);
    background-color: white;
}

.profile .more-info {
    margin-top: 1em;
}